/* Determines size of header box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Determines color of body background */
body {
    background-color: #d9dcd6;
}

/* Stylizes everything in header */
.all-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.all-header h1 {
    display: inline-block;
    font-size: 48px;
}

.all-header h1 .seo {
    color: #d9dcd6;
}

.all-header header, nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Nav tabs */
.header-tabs ul {
    list-style-type: none;
}

.header-tabs ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Stylizes background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Determines placement of image in content box */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Includes all three content boxes */ 
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Includes all "aside" sections */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-title {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-title h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-title img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Content boxes */
.tab-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.tab-content img {
    max-height: 200px;
}

.tab-content h2  {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Stylizes footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
